body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

body > .profile {
  margin-top: 40px;
}

.profile {
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  padding: 0;
  width: 700px;
}

.profile__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}

.profile > .profile__header {
  margin-bottom: 20px;
}

.profile__body {
  padding: 0 20px;
}

.profile__main-info {
  display: flex;
}

.profile__body .profile__icon-wrapper {
  margin-right: 10px;
  margin-bottom: 10px;
}

.profile__icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__icon-wrapper img {
  margin-bottom: 10px;
}

.profile__icon {
  width: 200px;
  height: 200px;
}

.profile__icon-upload > input {
  display: none;
}
.profile__icon-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.profile__body > .profile__main-info {
  margin-bottom: 20px;
}

.custom_modal__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.custom_modal__wrap.visible {
  opacity: 1;
}

.custom_modal__wrap .custom_modal__container {
  background: #fff;
  margin: 1em;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

.custom_modal__wrap .custom_modal__container .custom_modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 0 15px;
}

.custom_modal__wrap .custom_modal__container .custom_modal__header h2 {
  margin-bottom: 0;
  line-height: 1;
}

.custom_modal__wrap .custom_modal__container .custom_modal__header .custom_modal__close {
  text-decoration: none;
  cursor: pointer;
  font-size: 32px;
  color: black;
}

.custom_modal__wrap .custom_modal__container .custom_modal__content {
  margin: 15px;
}

.custom_modal__wrap .custom_modal__container .custom_modal__content form {
  padding-right: 15px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
}

.custom_modal__wrap .custom_modal__container .custom_modal__footer {
  padding: 15px;
  border-top: 1px solid lightgray;
}

.alert {
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.alert.visible {
  opacity: 1;
}

@media (max-height: 760px), (max-width: 420px) {
.form-btn {
  width: 49%;
}

.profile__header {
  flex-direction: column;
  align-items: center;
}

.profile__main-info {
  flex-direction: column;
  align-items: center;
}
.profile__main-info img {
  margin-bottom: 10px;
}
}

@media (max-height: 420px), (max-width: 320px) {
.custom_modal__wrap .custom_modal__container .custom_modal__content form {
  max-height: 100px;
}
}